<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <a href="#" class="dashboard--block {{ class }}">
        <div class="label--wrapper {{ color }}">
            <span class="count">{{ count }}</span>
            <span class="block-label">{{ label }}</span> 
        </div>
        <span class="glyphicon glyphicon-{{ icon }} {{ color }}"></span>
    </a>
</div>

